.login{
    background: url(https://image.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    h1{
        padding: 2rem;
        margin-top: 0rem;
        margin-left: 2rem;
        color: white;
    }
    .form{
        margin-left: 2rem;
        padding: 1rem;
        background-color: #636381;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 1rem;
        gap: 1rem;
        width: 17rem;
        input{
            padding: 0.5rem;
            width: 15rem;
        }
        button{
            padding: 0.5rem;
            width: 100%;
            border-radius: 5px;
            background-color: chocolate;
            color: cornsilk;
        }
    }
    
}